.Section3{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: var(--primaryColor);
}
.Section3 .leftCol{
    width: 60%;
}
.Section3 .rightCol{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:1024px) {
    .Section3{
        min-height: unset;
        padding: 50px 0;
        flex-direction: column;
        gap: 20px;
    }
    .Section3 .leftCol{
        width: 100%;
    }
    .Section3 .rightCol{
        width: 100%;
    }
}